<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form test EJS</title>
</head>
<body>
    <h1>Add a movie</h1>
    <form action=/ method="post">
        <button>add</button>
    </form>
</body>
</html>