<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/browsepage.css">

    <link href="https://fonts.googleapis.com/css?family=Sansita:400,400i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    
    <title>Find new people</title>
</head>
<body>
    <header>
        <h1>Find new people</h1>
    </header>
    
    <main>
        <ul>
            <li>
                <figure>
                    <a href="profile">
                        <img src="../static/images/girl.jpeg" alt="profilepicture of the person you're viewing">
                    </a>  
                    <figcaption>
                        <h2>Person name</h2>
                        <p>Description</p>
                        <form action=/ method="post">
                            <!-- make like button a checkbox -->
                            <label><input type="checkbox" name="like" value="like">Like </label>
                            <button id="likebutton" type="button">❤</button>
                            <button id="dislikebutton" type="button">x</button>
                        </form>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </main>

    
    <%- include ('nav') -%>


    <script src="../static/scripts/browsepage.js"></script>
</body>
</html>