<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1><%= naam %>'s favourite movies</h1>
    <ul>
        <% for (i = 0; i < movies.length; i++) { %>
            <li>
                <h3><%= movies[i] %></h3>
            </li>
        <% } %>
    </ul>
</body>
</html>