<nav>
    <ul>
        <li>
            <a href=""><img src="../static/images/user.png" alt="User icon"> You</a>
        </li>
        <li>
            <a href="browsepage"><img src="../static/images/search.png" alt="User icon"> Browse</a>
        </li>
        <li>
            <a href="likedpage"><img src="../static/images/heart.png" alt="User icon"> Likes</a>
        </li>
    </ul>
</nav>