*,
html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6b6b6b), to(#292929));
    background-image: linear-gradient(#6b6b6b, #292929);
    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

#box {
    background: url('../images/adamview.png');
    background-size: 160%;
    background-position: 0% 0%;
    width: 100%;
    height: 900px;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}

#welcometext {
    position: absolute;
    left: 150px;
    top: 45%;
}

#welcometext a,
#welcometext a:active,
#welcometext a:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 11pt;
    line-height: 150px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 15px 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

#welcometext a:hover {
    background-color: #ffffff;
    color: #000000;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

h1 {
    font-weight: 700;
    font-size: 50pt;
}

h2 {
    font-weight: 300;
    font-size: 22pt;
}

#work {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}
